<%= form_for @trip, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :driver %>
    <%= f.collection_select :driver_id, Driver.all, :id, :name %>
  </div>
  <div class="form-group">
    <%= f.label :endingpoint %>
    <%= f.text_field :endingpoint, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :note %>
    <%= f.text_area :note, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary", data: {disable_with: "saving.."} %>
<% end %>
