<h2>Driver's information</h2>

<h3>Title : <%= @trip.title %></h3>
<h3>Note : <%= @trip.note %></h3>
<h3>Ending Point : <%= @trip.endingpoint %></h3>
<h3>Driver : <%= @trip.driver.name %></h3>

<%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-info" %>
<%= link_to "Delete", trip_path(@trip), method: :delete,
            data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>

<br>
<br>
<button onClick="sendJob()" class="btn btn-success">Notify for driver</button>

<script src="http://leanfleet.com:3001/socket.io/socket.io.js">
</script>

<script>
  socket = io.connect('http://leanfleet.com:3001');
  function sendJob(){
    socket.emit('sendJob', {endingpoint: "<%= @trip.endingpoint %>", driver_id: 1 })
  }
</script>
